<!--templates/article_details.html-->
{% extends 'base.html' %}

{% block title %}V. Pupkin Daily{% endblock title %}

{% block content %}

<div>
    <h2>{{ article.title }}</h2>
    <p>{{ article.body | linebreaks }}</p>
</div>

{% if article.author == request.user %}
<p><a href="{% url 'article_edit' article.pk %}">📝 Edit</a> | <a href="{% url 'article_delete' article.pk %}">❌
    Delete</a>
    {% endif %}

<hr>
<div>
    <h5>{{ article.comments.count }} Comment(s)</h5>
    {% for comment in article.comments.all %}
    <p>{{ comment }}</p>
    {% endfor %}

    <p><a href="{% url 'comment_create' article.id %}">+ New Comment</a></p>
</div>
<hr>

<p>Back to <a href="{% url 'home' %}">homepage</a></p>

{% endblock content %}